<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>(BUD003)Class Register</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/base.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/container.css}" />
<script type="text/javascript"
	th:src="@{/resources/js/accordion-menu.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/general.js}"></script>
<script type="text/javascript">
	window.onload = function() {
		menu();
	}
</script>
</head>
<body class="main_body">
	<div th:insert="header :: header"></div>


	<div id="container">
		<div id="left_menu">
			<!-- menu html code exist the menu function of general.js -->
		</div>
		<div id="main_contents">
			<div id="contents">
				<h3>Class Register</h3>
				<label  id="errormsg" th:text="${Error}"></label><br />
				<label  style="color: blue"  th:text="${Success}"></label><br />
				<br />
				<br />

				<form name="registerForm" th:action="addClass" method="post" th:object="${cBean}">
					<table class="tableForm">
						<tr>
							<td class="tblSingleLabel">Class ID *</td>
							<td class="tblSingleInput"><input type="text" id="txtUserId"
								class="txt_popup" th:field="*{id}"/>
								 <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}"style="color: red;">Error</label>
								 </td>
						</tr>
						<tr>
							<td class="tblSingleLabel">Class Name *</td>
							<td class="tblSingleInput"><input type="text"
								class="txtlong_popup" id="txtUserName"  th:field="*{name}" />
								 <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"style="color: red;">Error</label>
								</td>
						</tr>

					</table>
					<br /> <input type="submit" value="Register" class="button"/>
				</form>

				<br />
				<br />
				<br />
			</div>
		</div>

	</div>

	<div class="footer">
		<span>Copyright &#169; ACE Inspiration 2016</span>
	</div>
</body>
</html>