<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>(LGN001)login</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/base.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/container.css}" />
<!-- <link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" /> -->


<!-- <script type="text/javascript">
	window.history.forward();
	function noBack() {
		window.history.forward();
	}
</script> -->

</head>
<body class="main_body">
	<!-- onload="noBack(); -->
	"
	<!-- onload="if (event.persisted) noBack();" onunload=""> -->
	<div id="header">
		<div id="title">
			<u>Student Registration Assignment</u>
		</div>
	</div>

	<div id="container">
		<div id="main_contents">
			<div style="margin-left: 35%">
				<!-- <form th:action="login" method="post" th:object="${loginBean}">
					<br />
					<table class="sortName">
						<tr>
							<td colspan="2" align="center">
								<h3>Login</h3>
							</td>
						</tr>
						<tr align="left">
							<td id="errormsg" th:text="${Error}"></td>
						</tr>

						<tr align="left">
							<td>User ID</td>

							<td><input type="text" class="normal_width1" th:field="*{id}"/>
							 <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}"style="color: red;">Error</label>
							 </td>
						</tr>

						<tr align="left">
							<td><br /> Password</td>

							<td><input type="password" class="normal_width1" th:field="*{password}"/>
							<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"style="color: red;">Error</label>
							</td>
						</tr>
						<tr>
							<td colspan="2"><br />
								<table align="center">
									<tr>
										<td><input name="Submit" type="submit" value="Login"
											class="button" /></td>
									</tr>

								</table></td>
						</tr>
					</table>
				</form> -->
				<form th:action="@{/}" method="post" name="confirm">
					<br />

					<table class="sortName">
						<tr>
							<td colspan="2" align="center"><label style="color: red;"
								th:if="${param.error}" class="alert alert-danger">Invalid
									User ID and password</label> <label style="color: blue;"
								th:if="${param.logout}" class="alert alert-info">Bye ... See you back soon</label>
								<h3>Login</h3></td>
						</tr>
						<tr align="left">
							<td id="errormsg" th:text="${error}"></td>
						</tr>

						<tr align="left">
							<td>User ID</td>

							<td><input type="text" class="normal_width1" name="username" /></td>
						</tr>

						<tr align="left">
							<td><br /> Password</td>

							<td><input type="password" class="normal_width1"
								name="password" /></td>
						</tr>
						<tr>
							<td colspan="2"><br />
								<table align="center">
									<tr>
										<td><input name="Submit" type="submit" value="Login"
											class="button" /></td>
									</tr>

								</table></td>
						</tr>
					</table>
				</form>

			</div>
		</div>
		<!-- end of main contents -->
	</div>
	<!-- end of container -->

	<div class="footer">
		<span>Copyright &#169; ACE Inspiration 2016</span>
	</div>

</body>
</html>