<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>(USR001) User Search</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/base.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/container.css}" />
<script type="text/javascript"
	th:src="@{/resources/js/accordion-menu.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/general.js}"></script>
<script type="text/javascript">
	window.onload = function() {
		menu();
	}
</script>
</head>
<body class="main_body">
		<div th:insert="header :: header"></div>
	<div id="container" >
		<div id="left_menu">
			<!-- menu html code exist the menu function of general.js -->
		</div>
		<div id="main_contents">
			<div id="contents">
				<div class="search_form">
					<h3>User Search</h3>
					<form th:action="searchUser" method="get" th:object="${sBean}">
						<table class="tableForm">
							<tr>
								<td class="tblLabel"><label>User ID</label></td>
								<td class="tblInputNormal"><input type="text"
									id="txtUserId" class="txt" th:field="*{userId}" /></td>

								<td class="tblLabel">User Name</td>
								<td class="tblInputNormal"><input type="text"
									id="txtUserName" class="txt" th:field="*{userName}" /></td>

							</tr>
						</table>
						<br /> <input type="submit" value="Search" class="button" /> <a
							th:href="@{/user/setupAddUser}"> <input
							type="button" value="Add" class="button" id="userInsert" />
						</a> <input type="button" value="Reset" class="button"
							th:onclick="location.href='/user/setupUser'" />
					</form>
					<br /> <br />
					<div id="errormsg">
						<label id="message" th:text="${Error}"></label> <label id="message"
							style="color: blue;" th:text="${Success}"></label>
					</div>
				</div>

				<br /> <br /> <br />
				<div id="list">
					<table class="resultTable">
							<tr class="tblHeader" th:if ="${userList !=null}">
								<th width="1%">Delete</th>
								<th width="1%">Update</th>
								<th width="12%">User ID</th>
								<th width="24%">User Name</th>
							</tr>
							<tr th:each="userList:${userList}">
								<td><a th:href="@{/user/deleteUser(id=${userList.id})}"><input
										type="button" value="Delete" id="deleteuser" class="button"
										 /></a></td>
								<td><a th:href="@{/user/setupUpdateUser(id=${userList.id})}">
										<input type="button" value="Update" class="button"
										id="userUpdate" />
								</a></td>

								<td th:text="${userList.id}"></td>
								<td th:text="${userList.name}"></td>
							</tr>



					</table>

				</div>
			</div>
		</div>

	</div>
	<div class="footer">
		<span>Copyright &#169; ACE Inspiration 2016</span>
	</div>
</body>
</html>